button {
    padding: 6px 30px;
    background-color: cadetblue;
    border: 1px solid cadetblue;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: cadetblue;
        background-color: #fff;
    }
}