.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d97878;

    &__functional {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            margin-right: 20px;

            @media screen and (max-width: 480px) {
                width: 100%;
                max-width: 130px;
            }
        }
    }
}