.modal {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px solid;
    background-color: darkkhaki;
    position: fixed;
    width: 100%;
    max-width: 500px;
    display: none;

    &__input-data {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    &__input-text {
        display: flex;
        justify-content: space-between;
    }

    &__close-button {
        font-size: 25px;
        cursor: pointer;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid;
        padding: 5px;
        align-items: center;
    }

    &__form {
        padding: 30px 30px 0 30px;
    }

    &__text {
        width: 80%;
        border: none;
        padding: 5px;
    }

    &__textarea-text {
        width: 80%;
        border: none;
        min-height: 150px;
        padding: 60px 0 0 5px;
    }

    &__required {
        color: red;
    }

    &__buttons {
        text-align: center;
        padding: 40px 0 20px 0;
    }
}