.nav {
    ul {
        list-style: none;
        display: flex;

        @media screen and (max-width: 768px) {
            display: none;
        }

        li {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }

    }
}