.new-post {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;

    &__wrapper {
        width: 84%;

        @media screen and (max-width: 1280px) {
            width: 79%;
        }
    
        @media screen and (max-width: 990px) {
            width: 75%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__text-message {
        border: 1px solid;
        padding: 20px 0 20px 40px;
        margin: 20px 0;
        background-color: lightgray;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__close-button {
        top: 0;
        right: 0;
        padding-right: 10px;
        position: absolute;
    }

    &__add-post {
        
        &--bigger {
            padding: 6px 60px;
            float: right;
        }
    }
}