.blog-listing {
    width: 85%;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &__post-image {
        margin: 0 10px 10px 0;
    }

    &__post {
        border: 1px solid;
        padding: 10px 10px 0 20px;
        margin-bottom: 20px;

        &:nth-child(even) {
            background-color: burlywood;
        }

        &:nth-child(odd) {
            background-color: thistle;
        }
    }

    &__meta-wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 600px) {
            flex-direction: column-reverse;
        }
    }

    &__meta {
        display: flex;
        width: 60%;
        padding-right: 10px;

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }

    &__admin-controls {
        padding-top: 10px;

        @media screen and (max-width: 600px) {
            padding: 10px 0;
        }
    }

    &__image-gallery {
        text-align: center;
        padding: 15px 0;
    }

    &__image {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}