.sidebar-wrapper {
    width: 15%;
    border: 1px solid;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 1280px) {
        width: 20%;
    }

    @media screen and (max-width: 990px) {
        width: 25%;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &__sidebar-title {
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    &__links {
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: row;
        }

        a {
            @media screen and (max-width: 768px) {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }
}
