@import 'reset';
@import 'utilities';
@import 'buttons';
@import 'navigation';
@import 'header';
@import 'sidebar';
@import 'post';
@import 'blog-archive';
@import 'new-post-app';
@import 'modal';

a {
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #000;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: #914d89;
    }
}

.burger {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        display: block;
    }

    div {
        width: 35px;
        height: 3px;
        background-color: #000;
        margin: 3px;
        transition: all 0.7s ease;
    }
}

